.chat {
    width: 512px;
    margin: auto;
    text-align: center;
}
.chat .title {
    font-size: 36px;
    margin:10px 0;
}
.chat .content {
    border:1px solid #ccc;
    height: 512px;
    font-size: 20px;
    border-radius: 3px;
}
.chat .content p {
    margin:7.5px 2.5px;
}
.chat .content p:nth-child(odd) {
    background-color: #e4e4e4;
}
.chat .content p:nth-child(even) {
    background-color: #f3f3f3;
}
.chat .message {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 0 2px;
}
.chat .message input {
    flex: 1;
    font-size: 20px;
    padding: 15px 20px;
    border:1px solid #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.chat .message button {
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    border:1px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}